* {
    box-sizing: border-box;
}

body {
    margin: 20px;
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background: url(scale.jpg);
    background-size: cover;
    border-radius: 30%;
}

.head {
    background: url(snakehead.jpg);
    background-size: cover;
    border-radius: 30%;
}

.mouse {
    background: url(mouse.jpg);
    background-size: cover;
    border-radius: 30%;
}